@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
	display: flex;  
	justify-content: center;
	background-color: gray;
  margin: 50px auto;
}
.container {
  display: flex;
  flex-flow: column;
  padding: 20px;
  border: 1px solid white;
  color: white;
  font-family: "Century Gothic";
  text-align:center;
  
}
.header {
	margin: 10px auto 10px auto;
	font-size: 30px;  
}
.icon {	
	margin: 10px auto 10px auto;
  font-size: 25px;
}
.wind-container {
	margin: 10px auto 10px auto;
}
@media (min-width: 960px) {
	.wind-container {
	display: flex;
	justify-content: space-between;	
	}
}
.forecast-container {
	margin: 10px auto 10px auto;
	justify-content: space-between;
  
}
@media (min-width: 960px) {
	.forecast-container {	
	display: flex;
	justify-content: space-between;	
	}
}
.forecast {
	border: 1px solid white;
	margin: 5px 5px 5px 5px;
	padding: 3px;
  flex: 1;
  
}
.forecast-font {
	font-size: 20px;
  margin: auto;
}
.location {
	margin: 10px auto 10px auto ;
	font-size: 30px;
}
i {
  color: white;
  font-family: weather;
  font-size: 100px;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-transform: none;
}
.forecast-icon {
	font-size: 50px;
}

.weather {
	margin: auto 10px auto 10px;
	text-align: center;
	font-size: 60px;
}
.conditions {
	margin: auto 2px auto 2px;	
	text-align: center;
	font-size: 23px;
}
.wind-chill {
	margin: 10px 2px 10px 2px;	
	text-align: center;
	font-size: 23px;
}
.wind-speed {
	margin: 10px 2px 10px 2px;	
	text-align: center;
	font-size: 23px;
}
.units-container {
	display: flex;
	flex-flow: row;
	justify-content: center;	
	font-size: 20px;
	margin-top: 5px;
	
}
.units-button {
	margin: auto 5px;
	background-color: transparent;
	border: 0px;
  cursor: pointer;
  color: white;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }